<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title>Login</title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div id="login-container">
      <div id="left-column"></div>
      <div id="branding">
        <img src="./images/logo.png" />
        <h1>Login - Chat Application</h1>
      </div>
      <div id="login-form">
        <form 
          method="POST" 
          action="/"
          >
          <p class="error error-common"></p>
          <input
            type="text"
            name="username"
            placeholder="enter mobile or email"
            value=""
            id = 'username'
          />
          <p class="error error-username"></p>
          
          <input 
            type="password" 
            name="password" 
            placeholder="enter password"
            id = "password" 
          />
          <p class="error error-password"></p>
          
          <input type="submit" value="Login" />
        </form>
      </div>
    </div>

    <script>
      const form = document.querySelector('form');
      const username = document.querySelector('#username');
      const password = document.querySelector('#password');
      
      //handle no of click hit one time
      let noOfClick = 1 ;

      form.addEventListener('submit',async (e)=>{
        e.preventDefault();
        
        let responseData ;
       
        const errorPTag = document.querySelectorAll('.error');
        errorPTag.forEach((value)=>{
          value.style.display = 'none';
        })
        console.log(errorPTag);
        
        if(noOfClick === 1 ){
          noOfClick = 2 ;
          //form data send using api 
          await fetch('/',{
            method : 'POST',
            headers : {
              'Content-Type': 'application/json'
            },
            body : JSON.stringify({
              username : username.value,
              password : password.value
            })
          })
          .then((data)=>data.json())
          .then((data)=>{
            responseData = data ;
            console.log(data);
            noOfClick = 1;
          })
          .catch(err=>{console.log(err)});
          //handle success message
          if(responseData?.success !== undefined){
            location.replace('http://localhost:3000/inbox')
          }
          //handle error messages to form
          else if(responseData?.errors !== undefined){
            Object.keys(responseData.errors).forEach((value)=>{
              
              const errorTag = document.querySelector(`.error-${value}`);
              errorTag.style.display = 'block';
              errorTag.textContent = responseData.errors[value].msg ;
              console.log(errorTag);
              noOfClick = 1 ;
            })
          }
        }
      })
    </script>
  </body>
</html>
